<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/CASPA-Care/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="cmk-pcs" />
            <add key="ClearTextPassword" value="f181f94f2233078f6dd1be35c010a0d887dfc219" />
        </github>
    </packageSourceCredentials>
</configuration>